@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

nav {
    padding: 1%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF0ED;
    color: #393939;
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-decoration: none
}

a {
    text-decoration: none
}

li {
    text-decoration: none
}

nav h1 {
    font-weight: lighter;
    font-size: 200%;
}