@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
    margin: 0;
    background-color: #FFF0ED;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 14%;
    z-index: -1;

    &-items {
        display: flex;
        flex-direction: column;
        padding-left: 6%;
        color: #393939;
        width: 40%;
    
        &__shop-button {
            padding: 1rem;
            width: 9rem;
            ;
            border: 0;
            background-color: #5BACC3;
            color: #FFF;
            font-size: 90%;
            white-space: nowrap;
        }
    
        &__head {
            font-weight: 220;
            font-size: 260%;
            margin: 0;
        }
        
        &__detail {
            width: 55%;
        }
    
        &__hero-image {
            padding-right: 5%;
        
            &-img {
                width: 80%;
                padding-top: 2rem;
            }
        }
    }
}
